*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# NetBeans Project files
########################
*/build
*/dist
*/nbproject/private
.Trashes
ehthumbs.db
Thumbs.db

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
